<div class="panel">
    <h1>Add new person </h1>

    <form class="panel-form" name="personForm" ng-submit="personForm.$valid && addPerson(person)">
        <div class="slabel">
            <input type="text" placeholder="Write the person's name" ng-model="person.name" class="jpinput" required>
        </div>
        <input type="checkbox" id="power" ng-model="person.superpower">
        <label for="power">Super Power</label>
        <input type="checkbox" id="rich" ng-model="person.rich">
        <label for="power">Rich</label>
        <input type="checkbox" id="genius" ng-model="person.genius">
        <label for="power">Genius</label>
        <input type="submit" class="btn add-btn" value="Add">
    </form>
</div>
<div ng-hide="isEmpty">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Super Power</th>
            <th>Rich</th>
            <th>Genius</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in filtered = (persons|skillFilter:selectedSkill)|orderBy:'name'">
            <th>{{person.name}}</th>
            <th><input type="checkbox" ng-model="person.superpower"></th>
            <th><input type="checkbox" ng-model="person.rich"></th>
            <th><input type="checkbox" ng-model="person.genius"></th>
            <th>
                <button ng-click="expand(person)" class="btn del-btn" ng-hide="person.showfull">Delete</button>
                <div ng-show="person.showfull">
                    <p ng-click="removePerson(person)"> &#10003 Yes</p>

                    <p ng-click="expand(person)"> &#x02717 No</p>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <a href="#superpower" ng-class="{'disabled':superpowerLink==0}">Power</a>
    <a href="#rich" ng-class="{'disabled':richLink==0}">| Rich |</a>
    <a href="#genius" ng-class="{'disabled':geniusLink==0}">Genius</a>
</div>